<ng-container *ngIf="!!weather" class="h-full flex flex-col justify-around">
  <p class="weather-current-temparature text-center text-4xl relative p-1">
    <app-temperature [temperature]="weather.temp"></app-temperature>
  </p>
  <p *ngIf="includeRange" class="weather-temparature-range text-basic relativetext-center">
    <app-temperature [temperature]="weather.temp_min"></app-temperature>
    <span class="range-separator inline-block">-</span>
    <app-temperature [temperature]="weather.temp_max"></app-temperature>
  </p>
</ng-container>
