<ng-container *ngIf="cityForecast$ | async as cityForecast">
  <app-city
    class="city-info-container text-white"
    [name]="cityForecast.city.name"
    [country]="cityForecast.city.country"
  ></app-city>
  <div class="flex flex-wrap justify-center items-start m-2">
    <div
      *ngFor="let dailyPrediction of cityForecast.weatherForecast"
      class="bg-white shadow-lg rounded overflow-hidden p-2 m-1 sm:p-4 sm:m-4"
    >
      <app-daily-prediction
        [dailyForecast]="dailyPrediction"
      ></app-daily-prediction>
    </div>
  </div>
</ng-container>
