<ng-container *ngIf="cityForecast$ | async as cityForecast">
  <app-city
    class="city-info-container text-white"
    [name]="cityForecast.city.name"
    [country]="cityForecast.city.country"
  ></app-city>
  <div
    *ngFor="let dailyPrediction of cityForecast.weatherForecast"
    class="bg-white shadow-lg rounded overflow-hidden p-4 m-4"
  >
    <h2 class="text-2xl uppercase font-bold mb-4 text-blue-800">
      {{ dailyPrediction.date | date: "EEEE, dd-MM-YYYY" }}
    </h2>
    <div
      *ngFor="let prediction of dailyPrediction.forecast"
      class="mb-3 flex flex-col sm:flex-row"
    >
      <div
        class="
          flex
          justify-center
          items-center
          text-xl
          font-bold
          text-blue-800
          p-8
          border border-blue-800
        "
      >
        {{ prediction.time }}
      </div>

      <app-weather-overview
        class="flex-grow"
        [weatherOverview]="prediction"
        [includeRange]="true"
      ></app-weather-overview>
    </div>
  </div>
</ng-container>
